@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600');
html {
    background-color: #4D6D9A;
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
}

h1 {
    color: #EEEFF8; 
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 75px;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

.flex {
    display: flex;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #86B3D1;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #99CED3;
    color: #5F6366;
}

.code-chunk {
    background-color:#EEEFF8;
    width: 50%;
    margin: 4%;
    border-radius: 1px;
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    /* margin-left: 25%;
    margin-right: 30%; */
    overflow-x: scroll;
}


.explanation {
    background-color: #EDB5BF; 
    width: 35%;
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    margin: 4%;
    color: #5F6366; 
    font-size: 35px;
}

.section-light-blue {
    background-color : #86B3D1;
    width: 90%;
    margin-bottom: 3%;
    padding: 1%;
    margin: 4%;
}

.section-teal {
    background-color : #99CED3;
    width: 90%;
    margin-bottom: 3%;
    padding: 1%;
    margin: 4%;
}

.section-pink {
    background-color: #EDB5BF;
    width: 90%;
    margin-bottom: 3%;
    padding: 1%;
    margin: 4%;
}

.explanation-right-chunk {
    width: 40%;
    float: right;
    padding: 1%;
}

.explanation-left-chunk {
    width: 40%;
    float: right;
    padding: 1%;
}

.right {
    background-color: #99CED3;
    width: 40%; 
    text-align: right;
    float: right;
    font-size: 35px;
    padding: 1%;
    margin: 4%;
}

.explanation h1 {
    color: #5F6366;
}
